@import '~scss/app.theme.scss';

.ui-json-explorer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 150px;
    align-items: center;
    background: linear-gradient( 45deg, $theme-primary-color, rgba($theme-primary-color, 0.7) );
}